#main-block{
    width: 400px; 
    margin: auto; 
    border: black; 
    border-radius: 20px; 
    border-style: dashed; 
    margin-top: 50px;
    text-align: center;
}

h1{
    margin: 20px 0 10px 0;
}

#exchange-button {
    display: block; 
    margin: 10px auto 10px auto; 
    width: 120px; 
    height: 40px; 
    font-size: 20px;
}

#currency-code{
    display: inline-block; 
    margin-left: 10px;
}

#input-field{
    width: 200px; 
    height: 40px; 
    font-size: 30px;
}

#currencies {
    display: inline-block; 
    margin: 10px 20px 0px 20px;
}